version: '3.9'

services:
  mongo:
    image: mongo:8.0.15
    container_name: mongo_local
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: local_username
      MONGO_INITDB_ROOT_PASSWORD: local_password
      MONGO_INITDB_DATABASE: local_db
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--username", "root", "--password", "secret", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  mongo_data:
